@{
    //Layout = null;
}

@section page_header{

}

<link href="~/Content/plugins/bootstrap_select/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Content/plugins/bootstrap_select/bootstrap-select.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>

<link href="~/Content/plugins/bootstrap_toggle/bootstrap-toggle.min.css" rel="stylesheet" />
<script src="~/Content/plugins/bootstrap_toggle/bootstrap-toggle.min.js"></script>

<h1>hello world</h1>

<input type="checkbox" data-type="paymentMode">
<input id="cbPaymentMode_" type="checkbox" data-type="paymentMode" data-toggle="toggle" data-on="Enabled" data-off="Disabled">

<script type="text/javascript">
            //init bootstrap toogle checkboxes
        //$("input[type='checkbox'][data-type='paymentMode']").bootstrapToggle({
        //    on: 'online',
        //    off: 'offline',
        //    //onstyle:'success'
        //});
</script>
