@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .card {
        width: 100%;
    }
</style>

@section page_header{
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Dashboard</h2>
    </div>
}

<div class="container-fluid" id="maindiv">
    <div class="row">

        <!-- UpComming Events -->
        <div class="col-md-8">
            <input type="date" class="form-control" v-model="eventFromdate"/>
        </div>
        <div class="col-md-3">
            <input  type="button" class="btn btn-primary" value="Refresh" v-on:click="getEventDetails()"/>
        </div>

        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h3 class="h4">UpComming Events</h3>
            </div>
            <div class="card-body" style="max-height:450px;overflow-y:scroll">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th v-for="i in eventDetails.displayHeaders"> {{i }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="row in eventDetails.data">
                                <td> <a href=""></a> {{ row["EventTitle"] }}</td>
                                <td>{{ row["EventType"] }}</td>
                                <td>{{ row["City"] }}</td>
                                <td>{{ row["FromDate"] | formatDate }}</td>
                                <td>{{ row["ToDate"] | formatDate }}</td>
                                <td>{{ row["AvailableSlots"] }}</td>
                                <td>{{ row["BookedSlots"] }}</td>
                                <td>
                                    <a v-bind:href="'/ManageTrip/TripEstimation?Id='+row['Id']"> {{ (row["EstimatedAmount"])||"N/A" }} </a> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>




<script type="text/javascript">

    $(function () {
        // Sidebar toggle behavior
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
        });
    });

    $(function () {
        var app = new Vue({
            el: "#maindiv",
            data: {
                eventFromdate:"",
                eventDetails: {
                    data: [],
                    displayHeaders: ["EventTitle", "EventType", "City", "FromDate", "ToDate", "AvailableSlots", "BookedSlots","EstimatedAmount"]
                }
            },
            mounted: function () {
                this.getEventDetails();
            },
            methods: {
                getEventDetails: function () {
                    var datestr = "";
                    if (this.eventFromdate)
                        datestr = this.eventFromdate;
                    else {
                        debugger;
                        var date = new Date();
                        datestr = moment(String(new Date())).format('YYYY-MM-DD') //date.getFullYear() + "-" + date.getMonth() + "-" + date.getDay();
                    }

                    // (this.eventFromdate) ? (this.eventFromdate) : moment(String(new Date())).format('MMM Do YYYY hh:mm'))
                    fetch("/home/GetEventDetails?date=" + datestr )
                        .then(response => response.json())
                        .then(jsondata => {
                            this.eventDetails.data = jsondata;
                        });
                }
            },
            filters: {
                formatDate: function (value) {
                    if (value) {
                        return moment(String(value)).format('MMM Do YYYY hh:mm')
                    }
                }
            }
        });
    })

</script>